<div class="container mt-4 mb-5"style="padding-bottom: 80px;">
    <div class="card shadow-sm">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Registrar Agua Consumida</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="guardarAgua()">
          <div class="form-floating mb-3">
            <input type="number" id="cantidad" class="form-control" [(ngModel)]="agua.cantidad" name="cantidad" required>
            <label for="cantidad">Cantidad de agua (en mililitros)</label>
          </div>
  
          <div class="mb-3">
            <label for="hora" class="form-label">Hora de consumo</label>
            <input type="time" id="hora" class="form-control" [(ngModel)]="agua.fecha" name="hora" required>
          </div>
  
          <button type="submit" class="btn btn-dark w-100 mt-3">Registrar insumo</button>
        </form>
      </div>
    </div>

    <hr class="my-3">
    <div class="card shadow-sm" *ngIf="historialHoy.length > 0; else sinRegistros">
    <div class="card-header bg-dark text-white">
      <h5>Historial de hoy:</h5>
    </div>
    <div class="card-body">
      <div>
        <div *ngFor="let registro of historialHoy; let i = index" class="card mb-2">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <h6 class="card-title mb-1">Consumo Agua</h6>
              <p class="card-text mb-0">
                <span class="macro-agua">{{ registro.cantidad }} ml</span>,
                <span class="macro-hora">{{ registro.fecha | date:'shortTime' }}</span>
              </p>
            </div>
            <button class="btn btn-sm btn-outline-danger" (click)="seleccionarRegistro(registro)" data-bs-toggle="modal" data-bs-target="#ModalAguaEliminar">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <ng-template #sinRegistros>
      <div class="alert alert-secondary text-center">
        Aún no has registrado agua para hoy.
      </div>
    </ng-template>
    

  </div>

  <!-- Modal de confirmación -->
<div class="modal fade" id="ModalAguaEliminar" tabindex="-1" aria-labelledby="ModalAguaEliminarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="ModalAguaEliminarLabel">Confirmar eliminación</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este registro de {{ registroSeleccionado?.cantidad }} ml?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmarEliminacionAgua()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
  
